<div class="row">
  <div class="col-md-4">
    <div class="ibox">
      <h1> <%= @scenario.business_name %></h1><br>

      <div class="mg-left-5">
        <p>
          <strong>Email</strong><br>
          <%= @scenario.email %>
        </p>

        <p>
          <strong>Address</strong><br>
          <%= @scenario.zomato_address %>
        </p>

        <p>
          <strong>Cuisines</strong><br>
          <%= @scenario.zomato_cuisines %>
        </p>

        <p>
          <strong>Online delivery</strong><br>
          <%= @scenario.zomato_has_online_delivery %>
        </p>

        <p>
          <strong>Zomato user rating</strong><br>
          <%= @scenario.zomato_user_rating %>
        </p>

        <p>
          <strong>Zomato rating</strong><br>
          <%= @scenario.zomato_rating_text %>
        </p>

        <p id="loc_lat" hidden><%= @scenario.location_lat %></p>
        <p id="loc_lng" hidden><%= @scenario.location_lng %></p>

        <%= link_to 'Back', scenarios_path, class: 'btn btn-primary float-right' %>
        <%= link_to 'Edit', edit_scenario_path(@scenario), class: 'btn btn-success float-right mg-right-10' %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="google-map-small-container mg-bottom-20 mg-top-20">
      <div id="google-map"></div>
    </div>
    <!-- -->
    <% @nearby_restaurants.each do |nearby_rest| %>
    <div class="list-group">
      <%= link_to nearby_rest, class: 'list-group-item' do %>
          <h4 class="list-group-item-heading"><%= nearby_rest.business_name %> <small>at <%= nearby_rest.zomato_address %></small></h4>
          <table>
            <tr>
              <td><strong>Cuisines</strong><br><%= nearby_rest.zomato_cuisines %></td>
              <td><strong>User rating</strong><br><%= nearby_rest.zomato_user_rating %></td>
              <td><strong>Users rated as</strong><br><%= nearby_rest.zomato_rating_text %></td>
              <td><strong>No. of users voted</strong><br><%= nearby_rest.zomato_votes_count%></td>
            </tr>
            <tr>
              <td><strong>Price range</strong><br><%= nearby_rest.zomato_price_range %></td>
              <td><strong>Cost for two</strong><br><%= nearby_rest.zomato_average_cost_for_two %></td>
              <td><strong>Online delivery</strong><br><%= nearby_rest.zomato_has_online_delivery %></td>
              <td><strong>Distance from you</strong><br><%= 'Distance' %></td>
            </tr>
          </table>
      <% end %>
    </div>
    <% end %>
    <!-- -->
  </div>
</div>