<% if !notice.nil?  %>
    <p id="notice" class="alert alert-success text-center" role="alert"><%= notice %></p>
<% end %>
<h1>Available Scenarios</h1>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Business name</th>
      <th>Cuisines</th>
      <th>User rating</th>
      <th>Address</th>
      <th>City</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @scenarios.each do |scenario| %>
      <tr>
        <td><%= scenario.business_name %></td>
        <td><%= scenario.zomato_cuisines %></td>
        <td><%= scenario.zomato_user_rating %></td>
        <td><%= scenario.zomato_address %></td>
        <td><%= scenario.zomato_loc_city %></td>
        <td><%= link_to scenario do %>
            <i class="fa fa-list-alt"></i>
        <% end %></td>
        <td><%= link_to edit_scenario_path(scenario) do %>
            <i class="fa fa-pencil-square"></i>
        <% end %></td>
        <td><%= link_to scenario, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash"></i>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Scenario', new_scenario_path, 'class': 'btn btn-primary' %>
