@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css);

body {
  font-family: 'Open Sans', sans-serif;
  color: #555;
}

h1 {
  font-size: 2.5em;
}

.navbar {
  border-radius: 0 !important;
  margin-bottom: 0;
}

.navbar-inverse {
  background-color: #006611;
  border: none;
  border-bottom: 1px solid #006611;
  .navbar-nav {
    .active {
      a {
        &:hover, &:focus {
          color: #fff;
          background-color: transparent;
        }
      }
    }
    li {
      a {
        color: #fff;
        &:hover, &:focus {
          color: #eee;
        }
      }
    }
  }
  .navbar-brand {
    color: #fff;

    &:hover, &:focus {
      color: #eee;
      background-color: transparent;
    }
  }
  .navbar-toggle{
    &:hover {
      background-color: #eee;
    }
    .icon-bar {
      background-color: #666;
    }
  }
}

label {
  font-weight: 400;
}

.jumbotron {
  background-color: transparent;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.container.theme-showcase {
  min-height: calc(100vh - 50px - 83px);
  padding-top: 10px;
}

.btn-primary {
  background-color: #f3f3f4;
  color: #666;
  border-color: #999;
  &:hover, &:focus {
    color: #666;
    background-color: #eeeeee;
    border-color: #999;
  }
}

.form-control {
  margin: 0 0 1em 0;
}

.field_with_errors {
  input {
    border: 1px solid red;
    margin: 0;
  }
  .class {
    margin: 0 0 1em 0;
    color: red;
  }
}

table {
  a {
    text-decoration: none;
    color: #999;
  }
}

#notice {
  z-index: 10;
  position: relative;
  background-color: rgba(255,255,255,0.8);
  font-weight: bold;
}

#people-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff !important;
  z-index: 999;
  background: transparent image-url('people_loading.gif') no-repeat center center;
  background-size: auto 400px;
}

#looking-around {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff !important;
  z-index: 999;
  background: transparent image-url('looking_around.gif') no-repeat center center;
  background-size: auto 400px;
}

.ibox {
  padding: 20px;
  overflow: hidden;
  h1 {
    margin-top: 0px;
  }
}

.container-with-map {
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: scroll;
  padding: 15px;
  width: 100%;
  .col-md-4 {
    z-index: 10;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 0;
    background-color: rgba(255,255,255,0.8);
  }
}

.google-map-container {
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 0px;
  left: 0px;
  z-index: 0;
}

#google-map {
  width: 100%;
  height: 100%;
  min-height: 300px;
  background-color: #f2f2f2 !important;
  background: transparent image-url('1392662627519.gif') no-repeat center center;
  background-size: 250px auto;
}

footer {
  padding: 1.5em 5em;
  border-top: 1px solid #ddd;
  color: #aaa;
  display: block;
  text-align: right;
  background-color: #f3f3f4;
  margin-top: 20px;

  p {
    margin: 0;
  }
}

.list-group {
  table {
    width: 100%;
    margin-top: 15px;
    tr {
      td {
        padding: 5px 10px;
        margin: 0 20px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}



/* helpers */
.float-right {
  float: right;
}

.mg-left-5 {
  margin-left: 5px;
}

.mg-right-5 {
  margin-right: 5px;
}

.mg-left-10 {
  margin-left: 10px;
}

.mg-right-10 {
  margin-right: 10px;
}

.mg-bottom-10 {
  margin-bottom: 10px;
}

.mg-top-20 {
  margin-top: 20px;
}

.mg-bottom-20 {
  margin-bottom: 20px;
}

.pd-left-right-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.u-border {
  border-bottom: 1px solid #999;
}

.pd-bottom-5 {
  padding-bottom: 5px;
}
